.gallery{
    margin: 10px;
}
.gallery img{
    transition: 1s;
    padding: 15px;
    width: 200px;
}
.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}
#blue-band h5{
    justify-content: center;
}
#blue-band{
    background-color: #007bff;
    height:60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }
  #click-on{
    padding-left: 80px;
    padding-top: 0px;
    font-size: 20px;
    color: #fff;
    height: 20px;
  }

 